<!DOCTYPE html>
<html>
  <head>
      <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
      <meta content="utf-8" http-equiv="encoding">

      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        
      
      <!-- Highcharts -->
      <script src="https://code.highcharts.com/highcharts.js"></script>

      <!-- js file -->
      {% load staticfiles %}
          <script src="{% static 'index.js' %}"></script>
          <!-- CSS CUSTOM -->
          <link rel="stylesheet" href="{% static 'style.css' %}">
          <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">

      <title>IPL Data Analysis</title>
  </head>
  <body>

    <div class="container">
      <header><b><h3 style="font-family: Kumbh Sans, sans-serif">IPL data visulaization</h3></b></header><br><br>

      <!-- TOTAL RUNS GRAPH -->
      <div class="row">
        <h2 style="font-family: Kumbh Sans, sans-serif">Total Runs Scored by each Team</h2>
        <div class="col-md-12 col-sm-12" id = "total-runs-scored"></div><br><br>
      </div>
      &nbsp;
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Batting Teams
            </button>
            <div class="dropdown-menu">
              <div class="checkbox form-check">
                <table id="tab1">
                  <tr>
                    <td>
                      {% for i in query_set %}
                        <input type="checkbox" value="{{i.batting_team}}" id="team"/>{{i.batting_team}} <br>
                      {% endfor %}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <select name="tab2" id="tab2" class="custom-select" onchange="total_runs_team()">
            <option value=''>Games Played</option>
            <option value=7000>0 - 7k</option>
            <option value=14000>7k - 14k</option>
            <option value=19000>14k - 19k</option>
          </select>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <input type="button" value="Show graph" onclick="total_runs_team()">
        </div>
      </div>

      &nbsp;
      <hr>
      &nbsp;
      <!-- TOP BATSMAN GRAPH -->
      <div class="row">
        <h2 style="font-family: Kumbh Sans, sans-serif">Top Batsman in RCB</h2>
        <div class="col-md-12, col-sm-12" id = "top-rcb-batsmen"></div><br><br>
      </div>
      &nbsp;
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Batsman Name
            </button>
            <div class="dropdown-menu">
              <div class="checkbox form-check">
                <table id="tab3">
                  <tr>
                    <td>
                      {% for i in batsman_name %}
                        <input type="checkbox" value="{{i.batsman}}" id="batsman"/>  {{i.batsman}} <br>
                      {% endfor %}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <select name="tab4" id="tab4" class="custom-select" onchange="top_rcb_batsmen()">
            <option value=''>Select runs</option>
            <option value=1500>0 - 1500</option>
            <option value=3000>1500 - 3000</option>
            <option value=5000>3000 - 5000</option>
          </select>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <input type="button" value="Show graph" onclick="top_rcb_batsmen()">
        </div>
      </div>

      &nbsp;
      <hr>
      &nbsp;
      <!-- UMPIRES GRAPH -->
      <div class="row">
        <h2 style="font-family: Kumbh Sans, sans-serif">Foreign Umpires</h2>
        <div class="col-md-12, col-sm-12" id = "foreign-umpires"></div><br><br>
      </div>
      &nbsp;
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Umpires Nation
            </button>
            <div class="dropdown-menu">
              <div class="checkbox form-check">
                <table id="tab5">
                  <tr>
                    <td>
                      {% for i in ump_nation %}
                        <input type="checkbox" value="{{i.nationality}}" id="umpires"/>  {{i.nationality}} <br>
                      {% endfor %}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <input type="button" value="Show graph" onclick="foreign_umpires()">
        </div>         
      </div>

      &nbsp;
      <hr>
      &nbsp;
      <!-- SEASONS GAMES TEAMS GRAPH -->
      <div class="row">
        <h2 style="font-family: Kumbh Sans, sans-serif">Games Played by Teams each Season</h2>
        <div class="col-md-12, col-sm-12" id = "team-games-season"></div><br><br>
      </div>
      &nbsp;
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Seasons
            </button>
            <div class="dropdown-menu">
              <div class="checkbox form-check">
                <table id="tab6">
                  <tr>
                    <td>
                      {% for i in seasons %}
                        <input type="checkbox" value="{{i.season}}" id="seasons"/>  {{i.season}}<br>
                      {% endfor %}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Teams
            </button>
            <div class="dropdown-menu">
              <div class="checkbox form-check">
                <table id="tab7">
                  <tr>
                    <td>
                      {% for i in query_set %}
                        <input type="checkbox" value="{{i.batting_team}}" id="teams"/>  {{i.batting_team}} <br>
                      {% endfor %}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <input type="button" value="Show graph" onclick="teams_seasons_games()">
        </div>
      </div>
    </div>
  </body>
</html>